<template>

<v-card
  class="mx-auto"
  max-width="600"
  max-height="400"
  raised>
<v-row align="center" 
>
  <v-form
    ref="form"
    v-model="valid"
  >
    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required

    ></v-text-field>

    <v-text-field
      v-model="password"
      :counter="10"
      :rules="passwordRules"
      label="Password"
      required
    ></v-text-field>
    <v-btn
      color="primary"
      class="mr-4"
      @click="validate">
      Validate
      <v-icon dark right>mdi-arrow-right</v-icon>
    </v-btn>


  </v-form>
</v-row>
</v-card>
</template>

<script>
 import Vue from 'vue'
 //import VeeValidate from 'vee-validate'
 import * as VeeValidate from 'vee-validate';

  Vue.use(VeeValidate)

  export default {
      name: 'Login',
    data: () => ({
      valid: true,
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 8) || 'Password must be at least 8 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ]
        }),

    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.snackbar = true
        }
      }
    },
  }
  
</script>
